{% extends "layout.html" %}
{% block content %}

<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            {% block header_blog %}{% endblock %}
        </div>
    </div>
</header>

<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <!-- Search results-->
            {% if query %}
            <section class="mb-5">
                <h2 class="fw-bolder mb-1">Результаты поиска по запросу &laquo;{{ query }}&raquo;</h2>
            </section>
            {% endif %}

            {% if category %}
            <section class="mb-5">
                <h2 class="fw-bolder mb-1">Статьи категории &laquo;{{ category }}&raquo;</h2>
            </section>
            {% endif %}

            <!-- Posts content-->
            {% if post or posts %}
            {% block content_blog %} {% endblock %}

            <!-- No matches found-->
            {% else %}
            <section class="mb-5">
            <p><h5>Тут ничего нет, попробуйте другой запрос :)</h5></p>
            <p><a class="btn btn-primary" href="{% url 'blog:post_list' %}">К списку постов</a></p>
            </section>
            {% endif %}
        </div>

        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            {% include 'blog/includes/search.html' %}
            <!-- Categories widget-->
            {% include 'blog/includes/categories.html' %}
            <!-- Side widget-->
            {% include 'blog/includes/side_widget.html' %}
        </div>
    </div>
</div>

{% endblock %}

